{namespace example}

/**
 * Says hello to the world.
 *
 * @param thing
 */
{template .sample}
<html>
    <head>
        <title>Rendered Soy Template</title>
    </head>
    <body>
        <h1>It works!</h1>
        <p>
            Here is a very simple soy template with a parameter.  Parameter value is: {$thing}
        </p>
    </body>
</html>
{/template}